@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Roboto', sans-serif;
}

ul li {
  list-style-type: disc;
}

ul ol {
  list-style-type: decimal;
}

.web3modal-modal-lightbox {
  z-index: 100 !important;
}